a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
  }

  main {
    display: flex;
    height: 94dvh;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    color: black;
    font-size: 21px;
    font-weight: 600;
  }
  #NavBar {
    height: 6dvh;
    background-color: rgb(205, 205, 200);
  }
  .container {
    background-color: red;
  }
  .button_area > button {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    &:hover {
      background-color: rgb(233, 231, 231);
    }
  }
